name: Milestone 2 - CI (tests + docker build)

on:
  push:
    branches: ["main"]
    tags: ["v*"]
  pull_request:

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Show requirements (debug)
        run: |
          pwd
          ls -la
          echo "---- module3/milestone2/requirements.txt ----"
          cat module3/milestone2/requirements.txt

      - name: Install dependencies
        run: pip install -r module3/milestone2/requirements.txt

      - name: Run tests
        run: pytest -q module3/milestone2/tests

      - name: Docker build
        run: docker build -t milestone2-ml -f module3/milestone2/Dockerfile module3/milestone2
